.container {
  padding: 2rem;
  background-color: var(--tertiary-color);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
  .logo {
    display: flex;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 100px;
  }
}